---
// src/pages/about.astro
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout frontmatter={{ title: 'The Republic | Respublica Digitalis' }}>
  <div class="content-container">
    <section class="content">
    <p>...</p>
    </section> 
  </div>
</BaseLayout>