---
// src/pages/li brary/index.astro
import BaseLayout from '../../layouts/BaseLayout.astro';
---

<BaseLayout frontmatter={{ title: 'Wow | Respublica Digitalis' }}>
  <div class="content-container">
    <section     class="content">
    <p>Welcome to my library.</p>
    </section> 
  </div>
</BaseLayout>

