---
// src/layouts/BaseLayout.astro
import '../styles/global.css';
const { frontmatter } = Astro.props;
const pageTitle = frontmatter?.title || 'Respublica Digitalis';
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
</head>
<body>
    <header class="banner">
        <div class="banner-title-wrapper">
            <h2>Digital<br />Republic</h2>
        </div>
        <a href="/republic/" class="dropdown-link">
            Explore Notes
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-down"><path d="m6 9 6 6 6-6"/></svg>
        </a>
    </header>

    <slot />

    <footer>
        <p>&copy; 2025 Respublica Digitalis</p>
    </footer>
</body>
</html>