---
// src/layouts/ContentLayout.astro
import BaseLayout from './BaseLayout.astro'; 
const { frontmatter } = Astro.props;
---
<BaseLayout frontmatter={{ title: `${frontmatter.title} | Respublica Digitalis` }}>
  <main>
    <h1>{frontmatter.title}</h1>
    <article class="prose">
      <slot />
    </article>
  </main>
</BaseLayout>

<style>
  main {
    max-width: 850px; 
    margin: 0 auto;
    padding: 40px 20px 20px;
  }
  main h1 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 2rem;
  }
</style>